.contain {
  margin: 0 auto;
  width: 7.5rem;
}
a, .tap{
  -webkit-tap-highlight-color:transparent;
}
.imgbg{
  background-position: center;
  background-size: cover;
}
.one-line{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meng{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 1000;
  .meng-box{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}

//后台管理系统
.admin-login{
  .logo{
    padding: 1rem 0;
    text-align: center;
  }
  .input-box{
    width: 4rem;
    margin: 0 auto;
    li{
      height: .88rem;
      span{
        font-size: .24rem;
      }
    }
    input{
      width: 3rem;
      height: .6rem;
      border: 1px solid #eee;
      text-indent: .2rem;
    }
  }
  .sub{
    text-align: center;
    padding: .8rem 0;
    button{
      width: 4rem;
      line-height: .6rem;
      border-radius: .5rem;
      background: #ff8a00;
      font-size: .28rem;
      color: #fff;
      border: none;
    }
  }
}
