.contain {
  margin: 0 auto;
  width: 3.75rem;
}
a, .tap{
  -webkit-tap-highlight-color:transparent;
}
.imgbg{
  background-position: center;
  background-size: cover;
}
.spacing{
  height: .08rem;
  background: #eee;
}
.one-line{
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.meng{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.5);
  z-index: 1000;
  .meng-box{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
  }
}
